header{
  padding-top: 40px;
  background: #243cbf;
  height: 150px;
}

header nav a{
  color: white;
  text-decoration: none;
  display: inline-flex;
  padding: 14px 20px;
  margin-top: 50px;
}

header nav a:hover{
  color: red;
}

header img{
  width: 300px;
  height: auto;
  margin-left: 1000px;
  margin-top: -60px;
}

body{ 
  background: #f5f3f0
}

.link nav a{
  color: black;
  font-size: 25px; 
  padding: 50px 50px; 
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.high{
  background-color: #f44336;
  width: 200px;
  height: 15x;
}

.primary{
  background-color: #ec930c;
  width: 200px;
  height: 50x;
}

.detsad{
  background-color: green;
  width: 200px;
  height: 50;
}

.top{
  background-color: #456cd6;
  width: 200px;
  height: 15x;
}

h3{
  font-size: 35px;
  text-align: center;
  color: blue; 
  border-top: 2px solid blue;
  border-bottom: 2px solid blue;
}

.high-school nav a{
  text-decoration: none;
  color: black;
  background-color: red;
}

.container{
  display: flex;
  flex-direction: row;
  }

.item{
  flex-grow: 1;
  flex-shrink: 1;
  justify-content: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
.col-1 {
  flex-basis: 8.3333%;
}
.col-2 {
  flex-basis: 16.6666%;
}
.col-3 {
  flex-basis: 24.9999%;
}
.col-4 {
  flex-basis: 33.3333%;
}
.col-5 {
  flex-basis: 41.6665%;
}
.col-6 {
  flex-basis: 49.9998%;
}
.col-7 {
  flex-basis: 58.3331%;
}
.col-8 {
  flex-basis: 66.6664%;
}
.col-9 {
  flex-basis: 74.9997%;
}
.col-10 {
  flex-basis: 83.3333%;
}
.col-11 {
  flex-basis: 91.6663%;
}
.col-12 {
  flex-basis: 100%;
}

footer{
  background: #201f1f;
  color: #f5f3f0;
  height: 600px;
  display: flex;
  flex-direction: row;
}

footer h1{
  font-size: 35px;
  text-align: left;
  color: rgb(255, 255, 255); 
  border-bottom: 2px solid rgb(255, 255, 255);
}
.one{
  margin-left: 100px;
  display: flex;
  flex-direction: row;
}

.one h2{
  margin-top: 100px;
  margin-left: -270px;
}

.one-1{
  margin-top: 150px;
  margin-left: -270px;
}

.one-2{
  margin-top: 150px;
  margin-left: 50px;
}

.two{
  margin-left: 350px;
  margin-top: 0px;
  display: flex;
  flex-direction: row
}

.two-1{
  margin-left: -220px;
  margin-top: 180px;
}

.two-2{
  margin-left: 100px;
  margin-top: 180px;
}

footer img{
  width: 800px;
  height: 80px;
  margin-left: -1250px;
  margin-top: 400px;
}

body header nav{
  max-width: 100%;
  height: auto;
}


h3{
  max-width: 100%;
  height: auto;
}


@media screen and (min-width: 601px) {
  body{
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  body{
    font-size: 10px;
  }
}

/* CSS QUERY EUROGYM PICTURE */

@media screen and (min-width: 801px) and (max-width: 1000px) {

  body header img{
    width: 20%;
    height: auto;
  }

}

@media screen and (min-width: 601px) and (max-width: 800px) {

  body header img{
    width: 10%;
    height: auto;
  }

}

@media screen and (min-width: 401px) and (max-width: 600px) {

  body header img{
   width: 5%;
    height: auto;
  }

}

@media screen and (min-width: 201px) and (max-width: 400px) {

  body header img{
    width: 2.5%;
    height: auto;
  }

}


img { 
  width: 200px; 
  height: height; 
  object-fit: contain; 
} 


/* CSS QUERY PICTURE */

@media screen and (min-width: 801px) and (max-width: 1000px) {
  img{
    max-width: 200%;
    height: auto;
    
  }
}

@media screen and (min-width: 601px) and (max-width: 800px) {
  img{
    max-width: 150%;
    height: auto;
  }
}

@media screen and (min-width: 401px) and (max-width: 600px) {
  img{
    max-width: 100%;
    height: auto;
  }
}

@media screen and (min-width: 201px) and (max-width: 400px) {
  img{
    max-width: 50%;
    height: auto;
  }
}

img{
  width: 200px;
  height: 200px;
}





